<div class="birds-wrapper">
    <table>
        <thead>
            <tr>
                <th>Common Name</th>
                <th>Latin Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Woodpigeon</td><td>Columba palumbus</td>
            </tr>
            <tr>
                <td>Collared Dove</td><td>Streptopelia decaocto</td>
            </tr>
            <tr>
                <td>Magpie</td><td>Pica pica</td>
            </tr>
            <tr>
                <td>Jackdaw</td><td>Corvus monedula</td>
            </tr>
            <tr>
                <td>Carrion Crow</td><td>Corvus corone</td>
            </tr>
            <tr>
                <td>Coal Tit</td><td>Periparus ater</td>
            </tr>
            <tr>
                <td>Blue Tit</td><td>Cyanistes caeruleus</td>
            </tr>
            <tr>
                <td>Great Tit</td><td>Parus major</td>
            </tr>
            <tr>
                <td>Long-tailed Tit</td><td>Aegithalos caudata</td>
            </tr>
            <tr>
                <td>Willow Warbler</td><td>Phylloscopus trochilus</td>
            </tr>
            <tr>
                <td>Chiffchaff</td><td>Phylloscopus collybita</td>
            </tr>
            <tr>
                <td>Blackcap</td><td>Sylvia atricapilla</td>
            </tr>
            <tr>
                <td>Goldcrest</td><td>Regulus regulus</td>
            </tr>
            <tr>
                <td>Wren</td><td>Troglodytes troglodytes</td>
            </tr>
            <tr>
                <td>Song Thrush</td><td>Turdus philomelos</td>
            </tr>
            <tr>
                <td>Blackbird</td><td>Turdus merula</td>
            </tr>
            <tr>
                <td>Robin</td><td>Erithacus rubecula</td>
            </tr>
            <tr>
                <td>Dunnock</td><td>Prunella modularis</td>
            </tr>
            <tr>
                <td>Meadow Pipit</td><td>Anthus pratensis</td>
            </tr>
            <tr>
                <td>Chaffinch</td><td>Fringilla coelebs</td>
            </tr>
            <tr>
                <td>Bullfinch</td><td>Pyrrhula pyrrhula</td>
            </tr>
            <tr>
                <td>Greenfinch</td><td>Chloris chloris</td>
            </tr>
            <tr>
                <td>Goldfinch</td><td>Carduelis carduelis</td>
            </tr>
            <tr>
                <td>Reed Bunting</td><td>Emberiza schoeniclus</td>
            </tr>
        </tbody>
    </table>
</div>
