<div class="menu-wrapper">
    <div class="links">
        <!-- <div class="menu-link">
            <a routerLink="#"  routerLinkActive="on-page">
            About us</a
            >
        </div> -->
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { about: ['visit-us'] } }]" routerLinkActive="on-page">
            Visit</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { about: ['contact-us'] } }]"  routerLinkActive="on-page">
            Contact us</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { about: ['newsletters'] } }]"  routerLinkActive="on-page">
           Newsletters</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { about: ['documents'] } }]"  routerLinkActive="on-page">
           Documents</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { about: ['join-us'] } }]"  routerLinkActive="on-page">
           Join us</a
            >
        </div>
    </div>
</div>
