<div class="aim">
    <p class="bold">Our aim</p>
    <p>
    Our aim
    The Friends of Lenzie Moss is a voluntary association dedicated to conserving the Moss for the benefit of present and future generations by all possible means: through education, liaison with official bodies, and appropriate environmental management.
    Details of recent activities and work on Lenzie Moss can be found in our NEWS page.
    </p>
    <p>
    Find out what we do and what we have been working on to help preserve Lenzie Moss. Download an overview here
    </p>
</div>
