.moss-wrapper{
    display: flex;
    //justify-content: space-between;
    width: 80%;
    margin: 80px auto;
    .outlet-wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 1007px){
    .moss-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px auto;
        .outlet-wrapper{
            width: 100%;
        }
    }
}