.visit-wrapper{
    font-size: 20px;
    font-family: 'Goorm Regular';
    min-width: 600px;
    //width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .visit-info{
        margin: 40px;
    }
    iframe{
        min-width: 50%;
    }
    h2{
        text-align: center;
        margin-top: -30px;
    }
    a, a:hover, a:visited{
        color: #FFA600;
    }
}

@media screen and (max-width: 1007px){
    .visit-wrapper{
        font-size: 20px;
        font-family: 'Goorm Regular';
        min-width: 0px;
        width: 100%;
        margin: auto;
        display: block;
        h2{
            text-align: center;
            margin-top: 30px;
        }
        a, a:hover, a:visited{
            color: #FFA600;
        }
        .visit-info{
            margin: auto;
        }
        iframe{
            width: 100%;
        }
    }
}