<div class="visit-wrapper">
    <p>There are several entrances to the Moss. If you are new to the area we recommend you enter from Lenzie station car park.</p> 
    <p>There is a 2km circular path which is mainly flat with a section on boardwalk across the bog. You will find signposts at several points linking to other walks.</p>
    <p>You can cycle to/from Kirkintilloch and around the Moss, using ED's Cycle Co-op route card, or walk around the Moss, using the Healthy Habits route card.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2675.19017332926!2d-4.167760923107813!3d55.921076373146995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488842fcaba14283%3A0xc5528c6caf35245a!2sLenzie%20Moss!5e1!3m2!1ssv!2suk!4v1755468970523!5m2!1ssv!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
