<div class="visit-wrapper">
    <p>There are several entrances to the Moss. If you are new to the area we recommend you enter from Lenzie station car park.</p> 
    <p>There is a 2km circular path which is mainly flat with a section on boardwalk across the bog. You will find signposts at several points linking to other walks.</p>
    <p>You can cycle to/from Kirkintilloch and around the Moss, using ED's Cycle Co-op route card, or walk around the Moss, using the Healthy Habits route card.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2185.528544990811!2d-4.164454309144837!3d55.92087688905698!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488842fcaba14283%3A0xc5528c6caf35245a!2sLenzie%20Moss!5e1!3m2!1sen!2suk!4v1755470153959!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
