<div class="fungi-wrapper">
    <h2>Animals</h2>
    <div class="pic-text">
        <img src="../../assets/images/animals/deer on cut birch scrub 2015-3.jpeg" alt="" class="landscape">
        <div class="text">
            <p>ROE DEER <br> (capreolus capreolus)</p>
            <p>Groups of roe deer are seen regularly on the Moss.</p> 
            <p>The smallest of Scotland’s deer, they are recognised primarily by their white rumps.</p> <p>Their coats are red-brown in summer fading to dull brown in winter, and their preferred habitat is woodland, where they  live on a diet of tree shoots, leaves, heather and blueberries.</p>
        </div>
    </div>
        <div class="pic-text">
        <div class="text">
            <p>FOSSORIAL VOLES</p>
            <p>A relatively new arrival to the Moss is the colony of fossorial voles, discovered by accident during a bird survey.</p> 
            <p>One of only 2 colonies in Scotland, these are a protected species under the Wildlife and Countryside Act 1981.</p> 
            <p>A full article on the voles can be found in our winter 2021/22 Newsletter (ABOUT US page), and ongoing works under Streetscene Technical Report Update June 2023 (HOME page).</p>
        </div>
        <img src="../../assets/images/animals/Watervole.jpeg" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/animals/frog.jpg" alt="" class="landscape">
        <div class="text">
            <p>COMMON FROG<br> (Rama Temporaria)</p>
            <p>In Spring the ditches alongside Bea’s Path are full of frogspawn, and the frog remains one of the regular inhabitants of the Moss.</p>
        </div>
    </div>
</div>