<div class="menu-wrapper">
    <div class="links">
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { wildlife: ['birds'] } }]" routerLinkActive="on-page">
            Birds</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { wildlife: ['fungi'] } }]"  routerLinkActive="on-page">
            Fungi</a
            >
        </div>
        <div class="menu-link">
            <a [routerLink]="[{ outlets: { wildlife: ['moths'] } }]"  routerLinkActive="on-page">
           Moths</a
            >
        </div>
    </div>
</div>
