.menu-wrapper{
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
        //margin: 5% 10%;
        min-width: 400px;
        .menu-link{
            padding: 10px;
            .on-page{
                background: #006e61;
            }
            a, a:visited{
                color: #FFA600;
                text-decoration: none;
                text-transform: uppercase;
                padding: 20px;
            border-radius: 20px 20px 0 0;
            }
            a:hover{
                text-decoration: underline;
                text-underline-offset: 7px;
            }
            .on-page{
                text-decoration: underline;
            }
        }
    }
}