h3{
        text-align: center;
        margin-top: -30px;
        text-align: center;
        font-weight: normal;
        font-size: 30px;
}
.newsletters-wrapper{
        font-size: 20px;
        font-family: 'Goorm Regular';
        min-width: 600px;
        margin: auto;
        columns: 3;
        a, a:visited{
                color: #FFA600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 300px;
                text-decoration: none;
                font-size: 30px;
                border-radius: 15px;
                box-shadow: 2px 2px 6px black;
                padding: 8px 15px;
                background: #004b42;
                margin: 0 auto 30px;
                break-inside: avoid;
                svg{
                        width: 50px;
                }
        }
        a:hover{
                background: #00463e;
        }
}

@media screen and (max-width: 1500px) {
        .newsletters-wrapper{
                columns: 2;
        }
}


@media screen and (max-width: 1007px){
        h3{
                text-align: center;
                margin-top: 20px;
                text-align: center;
                font-weight: normal;
                font-size: 30px;
        }
        .newsletters-wrapper{
                font-size: 20px;
                font-family: 'Goorm Regular';
                min-width: 0;
                margin: auto;
                columns: 1;
               
        }
}