<div class="fungi-wrapper">
    <h2>Spiders</h2>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/female jumping spider  285829179_10227466201821863_24290352780595572_n.jpeg" alt="" class="landscape">
            <p class="credit">photo courtesy of Craig McEwan</p>
        </div>
        <div class="text">
            <p>FEMALE SUN JUMPING SPIDER<br> (Heliophanus dampfi)</p>
            <p>Seen on the Moss in June 2022 by a keen  local arachnophile, Craig McEwan, this spider is only 5mm in length, recognisable by its yellow-green pedipalps which stand out against its black body. Habitat is raised bogs. More information in our NEWSLETTER SUMMER 2022 (ABOUT US page)</p>
        </div>
    </div>
        <div class="pic-text">
        <div class="text">
            <p>PIRATE WOLF SPIDER <br> (Pirata piraticus)</p>
            <p>Also seen on the Moss in June 2022 by Craig. It could be a nationally scarce Pirata tenuitarsis - which favours acidic bog habitats. More information in our NEWSLETTER SUMMER 2022 (ABOUT US page)</p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/pirata wolf spider 284071099_10227466207021993_2004131568850418292_n(2).jpeg" alt="" class="landscape">
            <p class="credit">photo courtesy Craig McEwan</p>
        </div>
    </div>
    <h2>Dragonflies</h2>
    <p>In July 2011 the Friends of Lenzie Moss welcomed Jonathan Willet to give us a talk and guided walk on dragonflies.  Jonathan grew up in Lenzie, and has long had an interest in dragonflies from his days at Lenzie Academy.  He has worked for many years variously as a naturalist, ecologist, countryside ranger and biodiversity officer, and is a longstanding member of the British Dragonfly Society. These are some of his photographs.</p>
    <div class="pic-text">
        <img src="../../assets/images/insects/common hawker dragonfly - Jonathan Aj male (3).jpg" alt="" class="landscape">
        <div class="text">
            <p>COMMON HAWKER DRAGONFLY<br> (aeshna juncia)</p>
            <p>Among the largest and fastest flying of the UK dragonflies. IT preys on flies, midges, mosquitoes dragonflies, moths, wasps, and beetles. It catches its prey mid-air, and can hover and fly backwards. Found by acidic pools and boggy damp areas.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>GOLDEN RINGED DRAGONFLY <br> (cordulergaster boltonii)</p>
            <p>Another fast, agile and powerful flyer, also found near acidic waters.  Its prey consists of small insects like other dragonflies, damselflies, and moths.</p>
        </div>
        <img src="../../assets/images/insects/Golden Ringed Dragonfly 02.JPG" alt="" class="landscape">
    </div>
    <h2>Damselflies</h2>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Damselfly Jackie Gillespie.jpg" alt="" class="landscape">
            <p class="credit">photo courtesy of Jackie Gillespie</p>
        </div>
        <div class="text">
            <p>COMMON BLUE DAMSELFLY<br> (enallagma cyathigerum)</p>
            <p>Damselflies are similar to dragonflies but are usually smaller and more delicate. In flight they tend to flit, and are less agile than dragonflies. At rest, their wings are held against their body, unlike dragonflies where the wings are outstretched at rest. Found near fresh water. They eat other flying insects such as mosquitoes, midges, and flies.</p>
        </div>
    </div>
    <h2>Butterflies</h2>
    <p>The following butterflies were observed on the Moss during guided walks given by Anthony McCluskey of Butterfly Conservation Scotland in May and June 2022. See NEWSLETTER SUMMER 2022 for his report.</p>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Green hairstreak Jackie Gillespie.JPG" alt="" class="landscape">
             <p class="credit">photo courtesy of Jackie Gillespie</p>
        </div>
        <div class="text">
            <p>GREEN HAIRSTREAK BUTTERFLY<br> (Callophrys Rubi)</p>
            <p>A small butterfly with irridiscent green wings on its underside. It can be seen in spring on calm days in a sheltered area, where it lays its eggs on the local blaeberry bushes, the food of its emerging caterpillars.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>GREEN-VEINED WHITE BUTTERFLY <br> (Pieris napi)</p>
            <p>Found in wooded glades on the Moss. It prefers damp areas. </p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/Green-veined White by Iain H Leach courtesy Butterfly Conservation.jpg" alt="" class="landscape">
            <p class="credit">photo by Iain H Leach courtesy Butterfly Conservation</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Small Heath by Jim Asher courtesy Butterfly Conservation.jpg" alt="" class="landscape">
            <p class="credit">photo by Jim Asher courtesy Butterfly Conservation</p>
        </div>
        <div class="text">
            <p>SMALL HEATH BUTTERFLY<br> (Coenonympha Pamphilus)</p>
            <p>The small heath flies near the ground in a fluttering fashion. It normally lays its eggs singly, sometimes on blades of grass. The adults feed on the nectar from plants such as bramble, ragwort and yarrow. </p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>SMALL TORTOISESHELL BUTTERFLY <br> (Aglais Urticae)</p>
            <p>A medium sized butterfly, the adults feed on nectar and their caterpillars on stinging nettles. It prefers a damp climate as the larvae normally grow on drenched leaves.</p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/Small Tortoiseshell by Iain H Leach courtesy Butterfly Conservation.jpg" alt="" class="landscape">
            <p class="credit">Photo by Iain H Leach courtesy Butterfly Conservation</p>
        </div>
    </div>
    <h2>Moths</h2>
    <p>In 2004, the Friends of Lenzie Moss purchased a moth trap – a purpose built box containing a light source to attract moths into it, where the moths could be counted and identified, and then released unharmed. The trap was placed in a garden adjacent to the Moss and recorded a total of 94 species of moths, including the Nationally Scarce B Silvery Arches. The full list of moths is available on request.</p>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Silvery Arches by Martin Harvey courtesy Butterfly Conservation.JPG" alt="" class="landscape">
            <p class="credit">photo by Martin Harvey courtesy Butterfly Conservation</p>
        </div>
        <div class="text">
            <p>SILVERY ARCHES MOTH<br> (polia hepatica)</p>
            <p>A decreasing species confined to acid soils in the British Isles, its larva feeding on birch, heather  and bog-myrtle.</p>
        </div>
    </div>
    <p>During Anthony McCluskey’s butterfly walks in 2022 the following day-time moths were also observed.</p>
    <div class="pic-text">
        <div class="text">
            <p>EULIA MINISTRANA MOTH</p>
            <p>A small but beautiful moth, whose golden scales shine even on a dull day. The caterpillars of this species feed on a variety of deciduous trees, so it’s likely to be relying on the trees around the Moss. </p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/Eulia ministrana by Mark Parsons, courtesy Butterfly Conservation.JPG" alt="" class="landscape">
            <p class="credit">photo by Mark Parsons courtesy Butterfly Conservation</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Silver Ground Carpet by Dave Green courtesy Butterfly Conservation.jpg" alt="" class="landscape">
            <p class="credit">photo by Dave Green courtesy Butterfly Conservation</p>
        </div>
        <div class="text">
            <p>SILVER –GROUND CARPET MOTH<br> (xanthorhoe montanata)</p>
            <p>A common moth, with wings of varied colouring on a white background. Prefers damp places with tall vegetation including bogs, woodland and grassland.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>ANCYLIS MYRTILLANA MOTH</p>
            <p>Found on damp heathland and moss, feeding on blaeberry bushes found on the Moss.</p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/Ancylis_myrtillanamoth by Patrick Clement courtesy Wikimedia Commons.jpg" alt="" class="landscape">
            <p class="credit">photo by Patrick Clements, licensed under the Creative Commons Attribution 2.0 Generic license, Wikimedia Commons</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/Common Heath by Mark Parsons courtesy Butterfly Conservation.JPG" alt="" class="landscape">
            <p class="credit">photo by Mark Parsons courtesy Butterfly Conservation</p>
        </div>
        <div class="text">
            <p>COMMON HEATH MOTH <br> (ematurga atomaria)</p>
            <p>A common moth, found in the Moss’s grassland and wooded areas. Feeds on heather, cross-leaved heath and grassland flowers such as vetch, birds foot trefoil and clover.</p>
        </div>
    </div>
    <h2>Moth Caterpillars</h2>
    <div class="pic-text">
        <div class="text">
            <p>DRINKER MOTH CATERPILLAR <br> (philudoria potatoria)</p>
            <p>Found in damp grassy places, where they feed on a variety of grasses and reeds. They hibernate during the winter in sheltered spots, pupate in Spring, and emerge as a moth in July. Caterpillars emerge again in spring.</p>
        </div>
        <div class="img-credit">
            <img src="../../assets/images/insects/photo _Q7B7496 Drinker moth caterpillar,  Lenzie Moss September 2017.jpg" alt="" class="landscape">
            <p class="credit">photo taken on Lenzie Moss by a local resident</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="img-credit">
            <img src="../../assets/images/insects/photo _Q7B7504 Emperor Moth caterpillar, September 2017 Lenzie Moss.jpg" alt="" class="landscape">
            <p class="credit">photo taken on Lenzie Moss by a local resident</p>
        </div>
        <div class="text">
            <p>EMPEROR MOTH CATERPILLAR<br> (saturnia pavonia)</p>
            <p>Feed on woody plants, such as heather, bramble and blackthorn.</p>
        </div>
    </div>
</div>