.wildlife-wrapper{
    font-size: 20px;
    font-family: 'Goorm Regular';
    min-width: 600px;
    //width: 45%;
    margin: auto;
    box-shadow: 1px 2px 6px black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .outlet-wrapper{
        background: #006e61;
        width: 90%;
        border-radius: 20px;
        padding: 30px;
    }
}