<div class="fungi-wrapper">
    <h2>Plants</h2>
    <div class="pic-text">
        <img src="../../assets/images/plants/sphagnum moss SAM_2257.jpeg" alt="" class="landscape">
        <div class="text">
            <p>SPHAGNUM MOSS</p>
            <p>Sphagnum mosses are ancient plants that play a vital role in the formation of peat bogs. They have stems and leaves but no roots, and thrive in acidic water such as rainfall. They act like sponges and can hold 16-26 times their dry weight in water, releasing this water gradually. In their wet state they are huge carbon sinks.</p>
        </div>
    </div>
        <div class="pic-text">
        <div class="text">
            <p>BOG ROSEMARY <br> (Andromeda Polifolia)</p>
            <p>A member of the heath family that is found only in cold peat bogs, growing well in damp acid soil.</p>
        </div>
        <img src="../../assets/images/plants/bog Rosemary IMG_4644.jpeg" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/plants/bog cotton grass SAM_0885 (2).jpeg" alt="" class="landscape">
        <div class="text">
            <p>COTTON GRASS<br> (Eriophorum Augustifolium)</p>
            <p>A member of the sedge family, its seedheads resemble tufts of cotton, giving rise to its name. It thrives in the acid conditions of peat bogs.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>CROSSLEAVED HEATH <br> (Erica Tetralix)</p>
            <p>A type of heather preferring acidic boggy soil.</p>
        </div>
        <img src="../../assets/images/plants/IMG_4811 cross-leaved heath.jpeg" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/plants/wild orchids July 2015.jpeg" alt="" class="landscape">
        <div class="text">
            <p>COMMON ORCHID<br> (Dactylorhiza maculata)</p>
            <p>A common flower growing in the slightly drier grassland areas of Lenzie Moss.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>SUNDEW<br> (Drosera)</p>
            <p>A tiny carnivorous plant that catches and digests insects, well adapted to growing in soils with poor nutrition such as bogs.</p>
        </div>
        <img src="../../assets/images/plants/p_sundew.jpg" alt="" class="landscape">
    </div>
</div>