<div class="join-us-wrapper">
    <p>Join and help make a difference</p>
    <p>Why don't you join us and help preserve your local nature reserve for a very small cost. All funds are directed back to conservation work and publicity for Lenzie Moss.</p> 
    <p>By joining Friends of Lenzie Moss you will also receive two newsletters every year, containing a variety of articles relating to Lenzie Moss and forthcoming events.</p> 
    <p>By joining you can ensure that supporters views on important issues such as planning developments and path changes are taken into consideration.</p>

    <p>Download the Friends of Lenzie Moss Subscription Form here</p>

    <p>We would welcome new committee members.</p> 
    <p>The committee meets three times a year in addition to the AGM. Our main activities are to co-ordinate each year's activities on the Moss - and lead some of them too; liaise with the Mugdock Rangers and EDC's Neighbourhood Services officer about conservation work; and apply for grant funding when it's needed.</p> 
    <p>We have also been concerned with the housing development proposals that could have affected the Moss adversely.</p> 
    <p>If you would like to get involved with any of these activities, or just like to join us as a supporting committee member, we would love to hear from you.</p> 
    <p>Contact details can be found on the CONTACT US page.</p>
</div>
