<div class="fungi-wrapper">
    <h2>PHOTOS OF FUNGI IDENTIFIED ON LENZIE MOSS 29 SEPTEMBER 2018 </h2>
    <div class="pic-text">
        <img src="../../assets/images/fungi/tarSpotFungus.PNG" alt="" class="landscape">
        <div class="text">
            <p>TAR SPOT FUNGUS (Rhytisma Acerinum) </p>
            <p>We found this fungus on a sycamore tree shortly after 
                entering the railway path. This is an example of 
                symbiosis in that the fungus doesn’t damage the tree.</p> 
                <p>It remains dormant on the old leaf litter over the 
                winter, and when the spores open in the spring they 
                are distributed on the wind to new healthy leaves. </p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>BIRCH BRACKET POLYPORE <br> (Piptoporus Betulinus)</p>
            <p>This large fungus is one of the most common on 
    Lenzie Moss and groups of them can be seen on many 
    of the birch trees. It develops from a small white 
    spherical swelling on the side of dead or living birch 
    trees (see photo insert). It grows mainly on weakened 
    birches, and will cause rot and eventually death, being 
    one of the most common fungi visible on dead birch 
    trees.</p> 
    <p>It is likely that the fungus becomes established 
    in small wounds and on broken branches, and may lie 
    dormant for years until something occurs to weaken 
    the tree. Fire, drought and suppression by other trees 
    are common causes of such stress.</p> 
    <p>The velvety cut 
    surface of the fruit body was traditionally used by 
    barbers for sharpening the edges of their cut-throat 
    razors, giving rise to its alternative name as the Razor 
    Strop Fungus.</p>
        </div>
        <img src="../../assets/images/fungi/birchBracketPolypore1.PNG" alt="" class="portrait">
    </div>
    <div class="pics">
        <p>MORE BIRCH BRACKET POLYPORES - THESE WERE ABOUT 15CM ACROSS </p>
        <div>
            <img src="../../assets/images/fungi/birchBracketPolypore2.PNG" alt="" class="landscape">
                <img src="../../assets/images/fungi/birchBracketPolypore3.PNG" alt="" class="landscape">
        </div>
    </div>  
    <div class="pic-text">
        <img src="../../assets/images/fungi/flyAgaric.PNG" alt="" class="landscape">
        <div class="text">
            <p>FLY AGARIC <br> (Amanita Muscaria)</p>
            <p>This fungus emerges from the ground looking like a 
                white egg. By the time it matures, its shape has 
                flattened, its colour has become red, and it has 
                reached a diameter of about 20 cm.</p> 
                <p>The gills remain 
                white. It can cause sickness, possibly death if eaten in 
                large amounts, but if watered down, is hallucinogenic.                                                                  
                It is also known as Santa’s Cloak. The story behind this 
                is that it is much loved by reindeer in northern 
                coniferous forests.</p> 
                <p>The herdsmen used to drink the 
                reindeers’ pee to get the benefit of its hallucinogenic 
                properties, and hence may well have seen “flying 
                reindeer”.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>TURKEY TAIL POLYPORE <br> (Trametes Versicolor)</p>
            <p>This is a common fungus found throughout the world, 
                and because of its shape and its many different 
                colours, it is commonly called turkey tail. The cap is 
                flat, up to 8cm x 5cm in area, and 1-3 mm thick. Its 
                flesh has a leathery texture. Older ones can have 
                zones with green algae growing on them, thus 
                appearing green. It commonly grows in tiled layers. It 
                may be eaten by certain caterpillars and maggots. </p>
        </div>
        <img src="../../assets/images/fungi/turkeyTailPolypore.PNG" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/fungi/tinderFungus.PNG" alt="" class="portrait">
        <div class="text">
            <p>TINDER FUNGUS <br> (Fomes Fomentarius)</p>
            <p>This fungus produces very large fruiting bodies, 
                shaped like a horse’s hoof, and ranging in colour from  
                silvery grey, black, & brown. It grows on the trunks of 
                various species of tree, which it infects through 
                broken bark, causing rot. It typically continues to live 
                on trees long after they have died, gradually causing 
                the tree to decompose.</p> 
                <p>The flesh is hard and fibrous. 
                The upper surface is tough, bumpy, hard and woody.  
                Historically, the fungus was removed from the tree, 
                the hard outer layer scraped off, and then thin strips 
                of the inner spongy layer cut for use as tinder for fires.  
                The 5,000-year-old Otzi the Iceman carried four pieces 
                of this fungus, concluded to be for use as tinder.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>POLYPORUS VARIUS</p>
            <p>Typically fruiting on smaller hardwood sticks and 
                decaying branches, this polypore is fairly easily 
                recognized by its small size, its whitish pore surface, 
                and its black, or half-black, central stem. Like many 
                polypores it is rather tough, and can manage to "stay 
                up" for quite a while in dry weather - resulting in 
                older specimens with faded, nearly white caps and 
                brownish pore surfaces.</p> 
                <p>Cap: 2-6 cm; broadly convex 
                to flat, developing a central depression; usually round 
                in outline, but sometimes cleft or somewhat kidney
                shaped; dry; bald;</p> 
                <p>Stem: central or off-centre to 
                lateral; 1-2 cm long; 4-7 mm wide; tapered slightly to 
                base; often curving; dry; bald and pale tan at the apex, 
                becoming velvety and dark brown to black from the 
                base upward. Flesh: whitish to dingy yellowish, thin 
                and very tough; its odour and taste is undistinctive.</p>
        </div>
        <img src="../../assets/images/fungi/polyporusVarius.PNG" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/fungi/bonnetCap.PNG" alt="" class="portrait">
        <div class="text">
            <p>BONNET CAP <br> (Mycena Garariculata)</p>
            <p>This fungus is quite variable in colour, size, and shape, 
                which makes it somewhat difficult to reliably identify 
                in the field. The caps have distinct radial grooves, 
                particularly at the margin. The cap's colour varies 
                from greyish brown to dark brown and the shape 
                ranges from bell-like, to bluntly conical, to flattened 
                with a central swelling. The stem is hollow, white, 
                tough and thin, often roots deeply into the wood on 
                which it grows.</p> 
                <p>The gills are white to greyish, or even 
                pink, when mature, and are connected by distinct 
                cross-veins.  The caps can reach 4cm in diameter, and 
                have a mealy smell and taste. The fungi grow mostly 
                in clusters on well-decayed stumps of deciduous and 
                coniferous trees from spring to autumn, but may also 
                live on leaf litter. It’s generally considered inedible.</p>
        </div>
    </div>
    <div class="pic-text">
        <div class="text">
            <p>COMMON YELLOW RUSSULA <br> (Russula ochroleuca)</p>
            <p>This fungus is widespread, and common in mixed 
            woodland. The cap is a dull yellow and 5-12cm wide, 
            initially convex, later flat or slightly depressed. The 
            cap margin becomes furrowed when mature, and is 
            2/3 peeling.</p> 
            <p>The gills are white to greyish white, and 
            are narrowly connected at the stalk. The stalk itself is 
            3-7cm long, 1-2cm wide, cylindrical, white or later 
            greyish. The taste is mild to moderately hot.</p>
        </div>
        <img src="../../assets/images/fungi/commonYellowRussula.PNG" alt="" class="landscape">
    </div>
    <div class="pic-text">
        <img src="../../assets/images/fungi/brownRollRim.PNG" alt="" class="landscape">
        <div class="text">
            <p>BROWN ROLL-RIM <br> (Paxillus Involutus)</p>
            <p>This grows up to 6 cm high and has a funnel-shaped 
                cap up to 12 cm wide with a distinctive in-rolled rim. 
                Its gills grow down the stem and may be pore-like 
                close to the stem.</p> 
                <p>The mycelium wraps itself round 
                the roots of trees rather than invading the trunk. The 
                trees benefit from the fungus as it reduces their 
                intake of heavy metals and increases their resistance 
                to pathogens. It’s highly poisonous. </p>
        </div>
    </div>
</div>