<div class="home-wrapper">
    <div class="info extra-letter-spacing">
        <a href="https://www.facebook.com/profile.php?id=100064369761951#">
            <img src="../../assets/images/facebook-svgrepo-com.png" alt="">
        </a>
        <p class="uppercase">Events on Lenzie Moss</p>
        <p>We email members details of walks and talks. Members receive priority for booking, but these are also open to non members and we give details of these on our <a href="https://www.facebook.com/profile.php?id=100064369761951#">Facebook page</a>.</p>
    </div>
    <div class="news-events">
        <img class="head" src="../../assets/images/wideshot.jpg" alt="">
        <h2 class="uppercase">Recent news and events</h2>
        <div class="ne-item">
            <p class="item-title"></p>
            <p class="item-content"></p>
        </div>
        <div class="ne-item">
            <p class="item-title">Streetscene Technical Support Update June 2023</p>
            <p class="item-content">Following the upgrade works completed in 2023, we have received a summary report of the works from EDC's Streetscene team. The report can be accessed <a href="../../assets/documents/news/streetscene23.pdf" download="streetscene23.pdf">here</a>.</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Woodturning</p>
            <p class="item-content">Thanks to Ian Logan for sending in photos and details of his work using birch from Lenzie Moss. These can be viewed <a href="../../assets/documents/news/woodturner.pdf" download="woodturner.pdf">here</a>.</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Report on historical peat extraction</p>
            <p class="item-content">Thanks to Bill Black who has researched the historical peat extraction on Lenzie Moss, and written a very interesting and informative report of his findings. The full report can be accessed <a href="../../assets/documents/news/peatnotes.pdf" download="peatnotes.pdf">here</a>.</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Water voles</p>
            <p class="item-content">Work has been carried out to enhance the habitat of water voles, following on from the water vole survey conducted last year. The work only concerns the water voles present on the nature reserve and land owned by EDC, not on the land owned by the rugby club. The Scottish Government Nature Restoration Fund provided the funding for this project.</p>
            <p class="item-content"> The works have taken place in the north woods; the grassland area at the top of Heather Drive; and the grassland area along the eastern edge of the Moss running alongside Bea's Path. Sightings of the voles have been reported, and these animals are active during daylight hours.</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Artworks on Lenzie Moss</p>
            <p class="item-content">‘Stacks', 2019, Black Basalt Aggregate Concrete (cast in collaboration with Gabion Designed Concrete Surfaces).
            Three sculptural works for Lenzie Moss as part of Trails and Tales by Toby Paterson, Simon Whatley & Dug MacLeod. <a href="../../assets/documents/news/peatstacks.pdf" download="peatstacks.pdf">Further details.</a></p>
            <img src="../../assets/images/news/TP4.jpg" alt="">
            <p class="item-content">Image owned by artist, Toby Paterson</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Potential changes to railway path</p>
            <p class="item-content">EDC is considering plans to upgrade the path that runs on the Moss alongside the railway line, with a view to encouraging more cyclists to use the path. This is part of the Council’s Active Travel Strategy and would include extending the path beyond the Moss to Westerhill Rd. in Bishopbriggs. The proposal for sharing the path with an increased number of cyclists has possible implications for walkers, children and dogs, as well as for the rural nature of the Moss and its wildlife, and we have outlined our concerns to the Council.</p>
            <p class="item-content">The project has been put on hold for the time being, but the Council is undertaking a feasibility study which will be available for consultation.</p>
            <p class="item-content">In the meantime we welcome your comments to our email address or on our Facebook page in anticipation of future discussions.</p>
        </div>
        <div class="ne-item">
            <p class="item-title">Aerial video of Lenzie Moss</p>
            <p class="item-content">This video was taken in March 2017.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VILy7xFYWE0" title="lenziemoss" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="ne-item">
            <p class="item-title">Moths</p>
            <p class="item-content">Thanks to Richard Sutcliffe who gave us a fascinating presentation on moths in a Bearsden garden. These links give some background to the issue and some of Richard's photos.</p>
                <ul class="item-content">
                    <li><a href="../../assets/documents/news/moths.pdf" download="moths.pdf">Read the report</a> from SNH about the decline in moths numbers</li>
                    <li>Some of the <a href="../../assets/documents/news/moths1.pdf" download="moths1.pdf">slides</a> from Richard's presentation</li>
                    <li>Further information on moths from <a href="https://www.ukmoths.org.uk/">UKMoths</a></li>
                </ul>
        </div>
    </div>
</div>
